services:

  nginx:
      image: nginx:alpine
      container_name: ingress-nginx
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      volumes:
        # Main NGINX config
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

        # Admin/orchestrator configs (tracked in git)
        - ./nginx/admin-conf.d:/etc/nginx/admin-conf.d:ro

        # Project-specific configs (generated at deploy, ignored in git)
        - ./nginx/conf.d:/etc/nginx/conf.d

        # Certs & ACME
        - ./data/certs:/etc/letsencrypt:ro
        - ./data/certbot-webroot:/var/www/acme-challenge:ro

        # Shared assets for the different projects
        - /shared-files/:/shared-files/:ro

      networks:
        - internal_proxy_pass_network # Existing network for other projects
        - nginx_webhook_network

      healthcheck:
        test: ["CMD", "wget", "--spider", "-q", "http://localhost/health"]
        interval: 10s
        timeout: 3s
        retries: 3
        start_period: 5s


  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    restart: no
    command: sleep infinity
    volumes:
    - ./data/certs:/etc/letsencrypt            
    - ./data/certbot-webroot:/var/www/acme-challenge


  webhook:
    build:
      context: ./webhook
    container_name: webhook
    restart: unless-stopped
    volumes:
      - ./webhook-redeploy-instruct/:/signal-to-host:rw
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:${PORT:-5000}/health || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 10
    networks:
      nginx_webhook_network:
        aliases:
          - orchestrator-webhook


networks:
  internal_proxy_pass_network:
    external: true

  nginx_webhook_network:
    driver: bridge
