services:

  caddy:
    image: caddy:2-alpine
    container_name: ingress-caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp" # For HTTP/3
    volumes:
      # Main Caddyfile entrypoint
      - ./Caddyfile:/etc/caddy/Caddyfile:ro
      # Directory for project-specific configs
      - ./server-confs:/etc/caddy/conf.d:ro
      # Caddy's persistent data (certs, etc.)
      - ./data/caddy_data:/data
      # Shared static/media files
      - /shared-files/:/shared-files/:ro
    networks:
      - internal_proxy_pass_network
    environment:
      CADDY_TELEMETRY=off


  webhook:
    build:
      context: ./webhook
    container_name: webhook
    restart: unless-stopped
    env_file:
      - ./webhook/.env
    volumes:
      - ./webhook-redeploy-instruct/:/signal-to-host:rw
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:${PORT:-5000}/health || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 10


networks:
  internal_proxy_pass_network:
    external: true
