services:

  nginx:
      image: nginx:alpine
      container_name: ingress-nginx
      restart: unless-stopped
      ports:
        - "80:80"
        - "443:443"
      volumes:
        # Main NGINX config
        - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

        # Additional server blocks (acme, health, per-project)
        - ./nginx/conf.d:/etc/nginx/conf.d:ro
        
        - ./data/certs:/etc/letsencrypt:ro       
        - ./data/certbot-webroot:/var/www/acme-challenge:ro

        # Shared static/media files for all projects
        - /shared-files/:/shared-files/:ro

      networks:
        - internal_proxy_pass_network

      healthcheck:
        test: ["CMD", "wget", "--spider", "-q", "http://localhost/health"]
        interval: 10s
        timeout: 3s
        retries: 3
        start_period: 5s


  certbot:
    image: certbot/certbot:latest
    container_name: certbot
    restart: no
    command: sleep infinity
    volumes:
    - ./data/certs:/etc/letsencrypt            
    - ./data/certbot-webroot:/var/www/acme-challenge


  webhook:
    build:
      context: ./webhook
    container_name: webhook
    restart: unless-stopped
    #env_file:
    #  - ./webhook/.env
    volumes:
      - ./webhook-redeploy-instruct/:/signal-to-host:rw
    healthcheck:
      test: ["CMD-SHELL", "wget -q --spider http://localhost:${PORT:-5000}/health || exit 1"]
      interval: 10s
      timeout: 2s
      retries: 10


networks:
  internal_proxy_pass_network:
    external: true
